@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Red Hat Display, Segoe UI, sans-serif;
  background-color: #000;
  background-image: url("img/bg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: #fff;
}

.overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: black;
      z-index: 9999;


animation: fadeOut 3s ease-out forwards;
    }


@keyframes fadeOut {
      from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
    }
	

h1 {
  font-family: Red Hat Display;
  font-size: 2.7vw;
  background: linear-gradient(180deg, rgba(200, 55, 55, 1) 50%, rgba(144, 18, 122, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo {
  margin-top: 200px;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  display: flex;
  position: fixed;
  justify-content: space-around;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.header .nav-item {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.header .nav-item:hover {
  text-decoration: underline;
}

p {
  font-size: 1em;
  line-height: 1.2;
}

.a:link {
  text-decoration: underline;
}

#main-content {
  padding: 70px 120px;
  text-align: left;
  max-width: 800px !important;
  white-space: normal;
}

.dropdown {
    /* margin-top: 20px; */
}

.dropdown-title {
    font-size: 1.2em;
    cursor: pointer;
    display: inline-block;
}

.dropdown-content {
  display: none;
  /* margin-top: 10px; */
}

.arrow {
  margin-right: 10px;
  font-size: 16px;
}

h1, .logo {animation: 6s ease-out 0s 1 glideup;}
@keyframes glideup {
	0% {
		opacity:0;
	}
	
	20% {
		opacity:0;
	}

	100% {
		opacity:1;
	}
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#main-content {
  flex: 1;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-family: "Outfit", "Segoe UI", sans-serif;
}

.footer p {
  font-size: 0.7em;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}

div#statuscafe {
        margin-top: -6px;
}

#statuscafe-username a {
		text-decoration: none;
	}
	
a:link, a:visited {
	color: white;
}

marquee {
  width: 700px;
}

iframe {
    content: "";
    position: fixed !important;
    float: right;
    display: inline;
	bottom: 26px;
    right: 6px;
    margin-bottom: 6px;
    width: 200px;
    height: 100px;
}

@media only screen and (max-width: 700px) {
  .header {
    margin-left: -30px;
  }

  #main-content {
    padding: 70px 4px;
  }
  
  marquee {
    width: 300px;
  }
  
  h1 {
    font-size: 9.5vw;
  }
}