@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Outfit", "Segoe UI", sans-serif;
  background-color: #000;
  background-image: linear-gradient(rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0.15)), url("img/bg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: #fff;
}

@font-face {
  font-family: Stretch Pro;
  src: url(font/StretchPro.ttf);
}

h1 {
  font-family: Stretch Pro;
  font-size: 5.5vw;
  font-weight: normal;
  text-align: center;
  -webkit-text-stroke: 1px black;
  margin-right: 280px;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 13px;
  display: flex;
  position: fixed;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.header .nav-item {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.header .nav-item:hover {
  text-decoration: underline;
}

.a:link {
  text-decoration: underline;
}

#main-content {
  padding: 70px 120px;
  text-align: left;
  max-width: 800px !important;
  white-space: normal;
}

.dropdown {
    /* margin-top: 20px; */
}

.dropdown-title {
    font-size: 22px;
    cursor: pointer;
    display: inline-block;
}

.dropdown-content {
  display: none;
  /* margin-top: 10px; */
  font-size: 18px;
}

.arrow {
  margin-right: 10px;
  font-size: 16px;
}

h1 {animation: 0.6s ease-out 0s 1 logo;}
@keyframes logo {
	0% {
		transform: translateY(80px);
		opacity:0;
	}

	100% {
		transform: translateY(0px);
		opacity:1;
	}
}


.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#main-content {
  flex: 1;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-family: "Outfit", "Segoe UI", sans-serif;
}

.footer p {
  font-size: 0.7em;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}

div#statuscafe {
        margin-top: -6px;
}

#statuscafe-username a {
		text-decoration: none;
	}
	
a:link, a:visited {
	color: white;
}

iframe {
  position: fixed;
  left: 960px;
  top: 100px;
}

@media only screen and (max-width: 1000px) {
  #main-content {
    padding: 40px 4px;
  }

  iframe {
    position: unset;
    left: 0px;
    top: 0px;
}